@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

:root {
    --colorfather: yellow;
    --colorson: black;
    --font1: 20px;
    --fontfamily: 'Open sans';
}

li,
a {
    font-family: var(--fontfamily);
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
}

.logo {
    cursor: pointer;
    width: 300px;

}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: var(--colorfather);

}

.bienvenida {
    display: grid;
    justify-content: center;

}

h1 {
    font-size: 60px;
    margin-top: 80px;
}

.nombre {
    margin-top: 20px;
}

.nombre {
    box-shadow: 3px 4px 0px 0px #899599;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 15px;
    border: 1px solid #d6bcd6;
    display: inline-block;
    cursor: pointer;
    color: #3a8a9e;
    font-family: Times New Roman;
    font-size: 22px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e6d300;
}

.nombre:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

.nombre:active {
    position: relative;
    top: 1px;
}