@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

:root{
    --colorfather: yellow;
    --colorson: black;
    --colorgray: #C4C4C4;
    --font1: 20px;
    --fontfamily: 'Open sans';
}

li, a {
    font-family: var(--fontfamily);
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0px 3%;
}

.logo{
    cursor: pointer;
    width: 300px;
    
}

.nav__links{ 
    list-style: none;
}

.nav__links li { 
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a { 
 transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    transition: all 0.3s ease 0s;
color: var(--colorfather);
text-shadow:  1.5px 1.5px var(--colorson);


}

.bienvenida{
    display: grid;
    justify-content: center;

}

h1{ 
    font-size: 60px;
    margin-top: 80px;
}

.nombre{
margin-top: 20px;
}

.nombre{
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display: grid;
    justify-content: center;
	cursor:pointer;
	color: #8f8f8f;
	font-family: var(--fontfamily);
	font-size:22px;
	padding: 7px 100px;
	text-decoration:none;
}

.nombre:hover{
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color: var(--colorfather);
    
}

.nombre:active{
    position:relative;
	top:1px;
}

.gif{
    display: grid;
    justify-content: center;
    margin-top: 30px;
}
.container-btn{
    display: flex;
    justify-content: center;
}

.container-btn a{
margin-left: 10px;
}
.btn-trivia1{
    margin-top: 50px;
    font-size: 20px;
    background-color: rgb(7, 7, 7);
    color: white;
    border-radius: 0.5rem;
    padding: 2px 5px;
    

}

.btn-trivia1:hover{
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    color: rgb(0, 0, 0);
    background-color: var(--colorfather);
    text-shadow:  1.5px 1.5px rgba(251, 248, 28, 0.774);
    border-radius: 0.5rem;
    

}


.btn-trivia2{
    margin-top: 50px;
    font-size: 20px;
    background-color: rgb(7, 7, 7);
    color: white;
    border-radius: 0.5rem;
    padding: 2px 5px;


}

.btn-trivia2:hover{
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    color: rgb(0, 0, 0);
    background-color: var(--colorfather);
    text-shadow:  1.5px 1.5px rgba(251, 248, 28, 0.774);
    border-radius: 0.5rem;
   

}

.btn-historia{
   border-radius: 2rem;
    transition: all 0.3s ease 0s;
    color: rgb(0, 0, 0);
    background-color: var(--colorfather);
    text-shadow:  1.5px 1.5px rgba(251, 248, 28, 0.774);
    border-radius: 0.5rem
    
}

.btn-historia:hover{
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    color: rgb(0, 0, 0);
    background-color: var(--colorfather);
    text-shadow:  1.5px 1.5px rgba(251, 248, 28, 0.774);
    border-radius: 0.5rem;
    

}
.btn-title{
    font-size: 30px;
    display: grid;
    justify-content: center;
}

.color-titlebtn{
    color: yellow;
}

.comenzar{
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    color: rgb(248, 247, 247);
    background-color: var(--colorson);
    border-radius: 0.5rem;
   
    
}

.comenzar:hover{
    border-radius: 2rem;
    transition: all 0.3s ease 0s;
    color: rgb(0, 0, 0);
    background-color: var(--colorfather);
    text-shadow:  1.5px 1.5px rgba(251, 248, 28, 0.774);
    border-radius: 0.5rem;
    
}

.pregunta{
    color: rgb(14, 13, 13);
    display: grid;
    justify-content: center;
}

.cont-1{
    margin-top: 10px;
    back-ground-color: gray;
}

.true{
    background-color: #c8fdcc;
    border: 5px solid #c8fdcc;
    border-radius: 10px;
}


.preguntas{
    text-align: center;
    border: 1px solid black;
    border-radius: 80px;
    padding: 10px 0;
}
.preguntas label{
    margin: 20px 0;
}

.inicio{
    padding: 5px;
}

.inicio:hover{
    color: #ffc107;
    border: 1px solid #ffc107;
    border-radius: 10px;
}